name: kappi
description: "A new Flutter project."
# The following line prevents the package from being accidentally published to
# pub.dev using `flutter pub publish`. This is preferred for private packages.
publish_to: 'none' # Remove this line if you wish to publish to pub.dev


version: 1.0.0+1

environment:
  sdk: ^3.7.2

dependencies:
  flutter:
    sdk: flutter
  google_fonts: ^6.2.1
  smooth_page_indicator: ^1.2.1
  get: ^4.7.2
  intl: ^0.20.2
  http: ^1.5.0
  intl_phone_field: ^3.2.0
  pinput: ^5.0.1
  carousel_slider: ^5.1.1
  percent_indicator: ^4.2.4
  fluttertoast: ^8.2.12
  image_picker: ^1.1.2
  flutter_bloc: ^9.1.1
  bloc: ^9.0.0
  dio: ^5.6.0

  cupertino_icons: ^1.0.8

dev_dependencies:
  flutter_test:
    sdk: flutter


  flutter_lints: ^5.0.0



flutter:

  uses-material-design: true

  # To add assets to your application, add an assets section, like this:
  assets:
    - assets/images/
  
